*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;   
}
h1 h2 h3 h4 h5 h5 p{
    line-height: 0.8px;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* NAVBAR CSS START */
.navbar {
    background: #1C1E53;
    width: 100%;
    padding: 16px 0 !important;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 0 16px 0 16px !important;
    color: #BBBBCB !important;
    transition: all linear 0.5s;
}
.navbar-expand-lg .navbar-nav .nav-item .one{
    margin-left: 450px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #FCD980 !important;
}
.navbar button{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 16px 48px;
    background: transparent;
    border-radius: 100px;
    color: white;
    border: 2px solid #F4F6FC;
    transition: all linear 0.3s;
}
.navbar button:hover{
    background: #FCD980;
    color: #1B1C2B;
    border: 2px solid #FCD980;
}
/* NAVBAR CSS END */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* BANNER CSS START */

/* BANNER CSS END */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* FOOTER CSS START */
#footer .footer-top{
    background: #1C1E53;
    padding-top: 100px;
}
#footer .footer-top{
    background: #1C1E53;
    padding-top: 100px;
}
#footer .footer-up h6{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    color: white;
    width: 400px;
    margin-bottom: 86px;
    margin-top: 24px;
}
#footer .footer-up .contact{
    background: #FCD980;
}
#footer .footer-up .contact h4{
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
    color: #282938;
    margin-top: 18px;
    margin-left: 37px;
}
#footer .footer-up .contact p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #282938;
    margin-top: 2px;
    margin-left: 37px;
}
#footer .footer-up .contact .mail{
    margin-right: 30px;
}
#footer .footer-up .footer-up-right h2{
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px; 
    color: #FFFFFF;
}
#footer .footer-up .footer-up-right p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #F4F6FC;
    margin-top: 14px;
    margin-bottom: 28px;
    width: 400px;
}
#footer .footer-up .footer-up-right a{
    margin-right: 27px;
    text-decoration: none;
}
#footer .footer-down{
    background: white;
}
#footer .footer-down p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #282938;
    margin-top: 32px;
    margin-bottom: 32px;
}
#footer .footer-down p a{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #282938;
    margin-left: 5px;
    text-decoration: none;
}
#footer .footer-down .footer-down-lists ul li a{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #282938;
    margin-top: 32px;
    margin-bottom: 32px;
    text-decoration: none;
    margin-right: 30px;
}
/* FOOTER CSS END */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/