*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;   
}
h1 h2 h3 h4 h5 h5 p{
    line-height: 0.8px;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-NAVBAR CSS START-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
.navbar {
    background: #1C1E53;
    width: 100%;
    padding: 16px 0 !important;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 0 16px 0 16px !important;
    color: #BBBBCB !important;
    transition: all linear 0.5s;
}
.navbar-expand-lg .navbar-nav .nav-item .one{
    margin-left: 450px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #FCD980 !important;
}
.navbar button{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 16px 48px;
    background: transparent;
    border-radius: 100px;
    color: white;
    border: 2px solid #F4F6FC;
    transition: all linear 0.3s;
}
.navbar button:hover{
    background: #FCD980;
    color: #1B1C2B;
    border: 2px solid #FCD980;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-NAVBAR CSS END-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-BANNER CSS START-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
#banner{
    padding-top: 128px;
    padding-bottom: 128px;
}
#banner h6{
    font-family: "Poppins", serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 24px;
    color: #282938;
}
#banner p{
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    margin-bottom: 10px;
    width: 484px;
}
#banner h2{
    font-family: "Poppins", serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: #282938;
    margin-top: 8px;
    margin-bottom: 30px;
    width: 595px;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-BANNER CSS END-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-GOAL CSS START-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
#goal .goal-top{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 108px;
    background: #F4F5F5;
}
#goal h6{
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
}
#goal p{
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    width: 515px;
}
#goal h2{
    font-family: "Poppins", serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 600;
    color: #282938;
    margin-top: 4px;
    margin-bottom: 16px;
    width: 515px;
}
#goal h3{
    font-family: "Poppins", serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 600;
    color: #282938;
    margin-top: 32px;
    margin-bottom: 16px;
    width: 515px;
}
#goal .goal-bottom .col-lg-12 img{
    width: 100%;
    height: 340px;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-GOAL CSS END-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-PROCESS CSS START-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
#process .process-datails{
    margin-top: 128px;
    margin-bottom: 128px;
}
#process .process-datails h2{
    font-family: "Poppins", serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: #282938;
    margin-bottom: 48px;
    text-align: center;
}
#process .process-datails h3{
    font-family: "Poppins", serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    margin-top: 32px;
    margin-bottom: 8px;
}
#process .process-datails p{
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    width: 272px;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-PROCESS CSS END-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-MISSION CSS START-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
#mission{
    background: #EEF4FA;
    padding-top: 128px;
    padding-bottom: 128px;
}
#mission .mission-details .col-lg-7{
    padding-top: 54px;
    padding-bottom: 54px;
}
#mission .mission-details .mission-bottom{
    margin-top: 86px;
}
#mission .mission-details .mission-bottom .col-lg-7 {
    padding-left: 143px !important;
}
#mission h6{
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 54px;
    color: #282938;
}
#mission p{
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    margin-bottom: 10px;
    width: 623px;
}
#mission h2{
    font-family: "Poppins", serif;
    font-size: 38px;
    line-height: 56px;
    font-weight: 600;
    color: #282938;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 623px;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-MISSION CSS END-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-BENIFITS CSS START-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
#benifits{
    padding-top: 140px;
    padding-bottom: 140px;
}
#benifits .benifits-top h2{
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px; 
    color: #282938;
    width: 630px;
    margin: 0 auto;
}
#benifits .benifits-bottom{
    flex-wrap: nowrap;
}
#benifits .benifits-details{
    padding: 50px 32px 48px 48px;
    background: #F4F6FC;
    margin: 48px 16px;
    max-width: 440px;
    transition: all linear 0.5s;
}
#benifits .benifits-details:hover{
    box-shadow: rgba(0, 0, 0, 0.204) 0px 0px 10px 2px;
}
#benifits .benifits-details h5{
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px; 
    color: #282938;
    margin-top: 26px;
}
#benifits .benifits-details p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #282938;
    width: 315px;
    margin-top: 12px;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-BENIFITS CSS END-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-TEAM CSS START-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
#team{
    padding-top: 128px;
    padding-bottom: 128px;
    background: #F4F6FC;
}
#team .team-top h2{
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px; 
    color: #282938;
    margin-bottom: 48px;
}
#team .team-bottom{
    justify-content: space-between;
}
#team .team-bottom .team-member {
    text-align: center;
    padding-top: 48px !important;
    padding: 0;
    background: white;
    width: 310px;
}
#team .team-bottom .team-member h6{
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px; 
    color: #1D2130;
    margin-bottom: 2px;
    margin-top: 30px;
}
#team .team-bottom .team-member p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #1D2130;
    margin-bottom: 32px;
}
#team .team-bottom .team-member .team-member-details{
    position: relative;
}
#team .team-bottom .team-member .team-member-details .team-hover-image
#team .team-bottom .team-member .team-member-details .team-socials {
    border-radius: 50%;
    background: linear-gradient(to top, rgba(82, 57, 250, 1), rgba(255, 255, 255, 0));
    width: 168px;
    height: 168px;
    position: absolute;
    bottom: -168px;
    left: 71px;
    opacity: 0;
    padding-left: 45px;
    transition: all linear 0.5s;
}
#team .team-bottom .team-member .team-member-details .team-socials a{
    position: relative;
}
#team .team-bottom .team-member .team-member-details .team-socials a img{
    width: 13px;
    height: 13px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1;
    margin-top: 127px !important;
    margin-bottom: 28px !important;
    
}
#team .team-bottom .team-member:hover{
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.3);
}
#team .team-bottom .team-member:hover .team-socials {
    opacity: 1;
    bottom: 0px;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-TEAM CSS END-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-FOOTER CSS START-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
#footer .footer-top{
    background: #1C1E53;
    padding-top: 100px;
}
#footer .footer-top{
    background: #1C1E53;
    padding-top: 100px;
}
#footer .footer-up h6{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    color: white;
    width: 400px;
    margin-bottom: 86px;
    margin-top: 24px;
}
#footer .footer-up .contact{
    background: #FCD980;
}
#footer .footer-up .contact h4{
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
    color: #282938;
    margin-top: 18px;
    margin-left: 37px;
}
#footer .footer-up .contact p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #282938;
    margin-top: 2px;
    margin-left: 37px;
}
#footer .footer-up .contact .mail{
    margin-right: 30px;
}
#footer .footer-up .footer-up-right h2{
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px; 
    color: #FFFFFF;
}
#footer .footer-up .footer-up-right p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #F4F6FC;
    margin-top: 14px;
    margin-bottom: 28px;
    width: 400px;
}
#footer .footer-up .footer-up-right a{
    margin-right: 27px;
    text-decoration: none;
}
#footer .footer-down{
    background: white;
}
#footer .footer-down p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #282938;
    margin-top: 32px;
    margin-bottom: 32px;
}
#footer .footer-down p a{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #282938;
    margin-left: 5px;
    text-decoration: none;
}
#footer .footer-down .footer-down-lists ul li a{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #282938;
    margin-top: 32px;
    margin-bottom: 32px;
    text-decoration: none;
    margin-right: 30px;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-FOOTER CSS END-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
