*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;   
}
h1 h2 h3 h4 h5 h5 p{
    line-height: 0.8px;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* NAVBAR CSS START */
.navbar {
    background: #1C1E53;
    width: 100%;
    padding: 16px 0 !important;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 0 16px 0 16px !important;
    color: #BBBBCB !important;
    transition: all linear 0.5s;
}
.navbar-expand-lg .navbar-nav .nav-item .one{
    margin-left: 450px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #FCD980 !important;
}
.navbar button{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 16px 48px;
    background: transparent;
    border-radius: 100px;
    color: white;
    border: 2px solid #F4F6FC;
    transition: all linear 0.3s;
}
.navbar button:hover{
    background: #FCD980;
    color: #1B1C2B;
    border: 2px solid #FCD980;
}
/* NAVBAR CSS END */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* BANNER CSS START */
#banner{
    padding: 125px 0;
    background: #1C1E53;
}
#banner h2{
    font-family: "Poppins", serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px; 
    color: white;  
}
#banner p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    color: white;  
    margin-top: 24px;
    margin-bottom: 48px;
}
#banner a{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    color: white;  
    display: inline-block;
    text-decoration: none;
    margin-left: 40px;
}
#banner a span{
    margin-left: 16px;
}
#banner button{
    font-family: "Manrope", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 16px 56px;
    background: transparent;
    border-radius: 100px;
    color: white;
    border: 2px solid #F4F6FC;
    transition: all linear 0.3s;
    display: inline !important;
}
#banner button:hover{
    background: #FCD980;
    color: #1B1C2B;
    border: 2px solid #FCD980;
}
/* BANNER CSS END */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* ABOUT CSS START */
#about{
    padding: 128px 0;
    background: #F4F6FC;
}
#about .col-lg-4{
    width: 405px;
}
#about h2{
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px; 
    color: #282938; 
    margin-bottom: 16px;
}
#about h3{
    font-family: "Poppins", serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px; 
    color: #282938; 
    margin-top: 16px;
    margin-bottom: 8px;
}
#about p {
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    margin: 0;
    width: 325px;
}
#about a{
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
    color: #2405F2; 
    margin-top: 16px;
    text-decoration: none; 
}
#about a span{
    margin-left: 16px;
}
#about .col-lg-7 .one{
    margin-bottom: 48px;
}
#about .col-lg-7 p{
    width: 303px;
}
/* ABOUT CSS END */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* PROJECTS CSS START */
#projects{
    padding: 128px 0;
}
#projects .projects-top{
    align-items: center;
}
#projects .col-lg-6{
    padding: 0;
}
#projects .col-lg-6 h3{ 
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px; 
    color: #282938; 
    margin-bottom: 65px;
}
#projects .col-lg-6 a{ 
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
    text-decoration: none; 
    margin-bottom: 80px;
    align-content: center;
}
#projects .text-end span{
    padding-left: 14px; 
}
#projects .projects-left{
    position: relative;
    padding: 0;
    overflow: hidden; 
}
#projects .projects-left .hover-part{ 
    background: linear-gradient(to top left, rgba(28, 30, 83, 1) 0%, rgba(28, 30, 83, 0.42) 100%);
    position: absolute;
    top: 0;
    left: -422px;
    width: 48%;
    height: 100%;
    transition: all linear 0.5s;
    opacity: 1; 
}
#projects .projects-left .hover-part h3{
    margin: 310px 35px 16px 48px;
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    width: 313px;
    color: white;  
}
#projects .projects-left .hover-part p{
    margin: 0 55px 0 48px;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    width: 293px;
    color: white;  
    opacity: .8; 
}
#projects .projects-left .hover-part a{
    margin: 40px 0 76px 48px;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    width: 140px;
    color: #FCD980;
    text-decoration: none; 
}
#projects .projects-left .hover-part span{
    padding-left: 14px; 
}
#projects .projects-left:hover .hover-part{
    height: 100%;
    opacity: 1; 
    left: 0;
}

/* project-right-up  */
#projects .projects-right-up{
    position: relative; 
    padding: 0;
    overflow: hidden;  
}
#projects .projects-right-up .b-img{
    width: 100%;
    height: 284px;
}
#projects .projects-right-up .hover-part{
    background: linear-gradient(to top right, rgba(28, 30, 83, 1) 0%, rgba(28, 30, 83, 0.42) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 0%;
    transition: all linear 0.5s; 
    opacity: 0;
}
#projects .projects-right-up .hover-part h3{
    margin: 130px 36px 10px 56px;
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    width: 210px;
    color: white;   
}
#projects .projects-right-up .hover-part a{
    margin: 0 0 45px 56px;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #FCD980;
    text-decoration: none;  
}
#projects .projects-right-up .hover-part span{
    padding-left: 14px;  
}
#projects .projects-right-up:hover .hover-part{
    height: 100%;
    opacity: 1; 
}
/* project-right-down  */
#projects .projects-right-down{
    position: relative; 
    padding: 0;
    overflow: hidden; 
    margin-top: 32px;
}
#projects .projects-right-down .b-img{
    width: 100%;
    height: 284px;
}
#projects .projects-right-down .hover-part{
    background: linear-gradient(to top right, rgba(28, 30, 83, 1) 0%, rgba(28, 30, 83, 0.42) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 0%;
    transition: all linear 0.5s; 
    opacity: 0;
}
#projects .projects-right-down .hover-part h3{
    margin: 130px 36px 10px 56px;
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    width: 210px;
    color: white;   
}
#projects .projects-right-down .hover-part a{
    margin: 0 0 45px 56px;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #FCD980;
    text-decoration: none;  
}
#projects .projects-right-down .hover-part span{
    padding-left: 14px;  
}
#projects .projects-right-down:hover .hover-part{
    height: 100%;
    opacity: 1; 
}
/* PROJECTS CSS END */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* FEATURES CSS START */
#features{
    padding: 128px 0;
    background: #F4F6FC;
}
#features .features-top p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
    margin: 0 auto;
}
#features .features-top h2{
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: #282938;
    margin-top: 12px !important;
    margin-bottom: 48px !important;
    width: 630px;
    margin: 0 auto;
}
#features h4{
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #282938;
    margin-top: 22px;
    margin-bottom: 12px;
}
#features p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    width: 325px;
}
#features .col-lg-4{
    padding-top: 58px;
    padding-bottom: 48px;
    padding-right: 0;
    padding-left: 32px;
    margin-left: 15px;
    margin-right: 15px;
    background: #FFFFFF;
    max-width: 410px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    transition: all linear .5s;
}
#features .col-lg-4:hover {
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.3);
}
/* FEATURES CSS END */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* FEEDBACK CSS START */
#feedback{
    padding: 128px 0;
    background: #F4F6FC;
}
#feedback .feedback-left h3{
    font-family: "Poppins", serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    color: #282938;
    margin-bottom: 16px;
    width: 327px;
}
#feedback .feedback-left p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    width: 327px;
}
#feedback .feedback-right h2{
    font-family: "Poppins", serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    color: #282938;
    margin-bottom: 48px;
    width: 843px;
}
#feedback .feedback-right .critic h5{
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #282938;
    margin-left: 14px;
    margin-bottom: 0;
}
#feedback .feedback-right{
    height: 250px;
}
#feedback .feedback-right .critic h6{
    font-family: "Poppins", serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
    margin-left: 14px;
    margin-bottom: 0;
}
#feedback .feedback-right img{
    border-radius: 50%;
    width: 52px;
    height: 52px;
}
.carousel-control-next{ 
    top: 195px !important;
    left: 745px !important;
    width: 48px !important;
    height: 48px !important;  
    background: #5239FA !important;
    border-radius: 50%;  
}
.carousel-control-prev{ 
    top: 195px !important;
    left: 680px !important;
    width: 48px !important;
    height: 48px !important; 
    background: #5239FA !important;
    border-radius: 50%;  
}
.carousel-control-prev:hover{
    opacity: 1 !important;
}
.carousel-control-next:hover{
    opacity: 1 !important;
}
/* FEEDBACK CSS END */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* FAQ CSS START */
#faq{
    padding: 128px 0;
    background: white;
    height: 724px;
}
#faq h3{
    font-family: "Poppins", serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 56px; 
    color: #282938; 
    width: 300px;
    margin: 0;
}
#faq a{
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
    color: #2405F2; 
    margin-top: 16px;
    text-decoration: none; 
}
#faq .accordion .accordion-item{
    border: none;
    border-bottom: 1px solid #ddd !important;
}
#faq .accordion .accordion-item .accordion-header .accordion-button{
    padding-top: 32px;
    padding-bottom: 32px;
    border: none;
}
#faq .accordion .accordion-item .accordion-header .accordion-button span {
    color: #2405F2;
    font-size: 24px;
    font-weight: 500;
    margin-right: 59px;
}
#faq .accordion .accordion-item .accordion-header .accordion-button{
    font-size: 24px;
    font-weight: 500;
    margin-right: 59px;
}
#faq .accordion .accordion-item .accordion-collapse .accordion-body {
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    width: 620px;
    margin-left: 85px;
}
.accordion-button:focus {
    box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
    color: #282938 !important; 
    background-color: transparent !important;
}
.accordion-button::after {
    width: auto !important;
    font-family: bootstrap-icons !important;
    content: "\F64D" !important;
    background-image: none !important;
    font-size: 25px;
    line-height: 22px;
    transition: var(--bs-accordion-btn-icon-transition) !important;
}
.accordion-button:not(.collapsed)::after {
    transform: rotate(45deg) !important;
}
/* FAQ CSS END */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* NEWSLATER CSS START */
#newsletter{
    padding: 0;
}
#newsletter .newsletter-left{
    position: relative;
}
#newsletter .newsletter-left .newsletter-left-text {
    position: absolute;
    top: 0;
    left: 12px;
    background: #1C1E53;
    opacity: .5;
    width: 656px;
    height: 691px;
    padding-top: 96px;
    padding-left: 96px;
}
#newsletter .newsletter-left .newsletter-left-text h3{
    font-family: "Poppins", serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px; 
    color: #FFFFFF;
}
#newsletter .newsletter-left .newsletter-left-text p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    color: #FFFFFF;
}
#newsletter .newsletter-right{
    background: #1C1E53;
    width: 656px;
    height: 691px;
    margin: 0 auto;
}
#newsletter .newsletter-right h3{
    font-family: "Poppins", serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px; 
    color: #FFFFFF;
    margin-top: 96px;
    margin-left: 96px;
}
#newsletter .newsletter-right p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    color: #F4F6FC;
    margin: 16px 96px 40px 96px ;
}
.form-control {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
    padding-left: 32px !important;
    line-height: 28px !important;
    color: #F4F6FC !important;
    border: 2px solid rgba(255, 255, 255, 0.05) !important;
    margin-top: 16px !important;
    width: 432px !important;
    margin: 0 auto;
    background: transparent !important;
    height: 70px;
}
.form-control::placeholder {
    color: #F4F6FC!important;  
    opacity: .5 !important;  
}
#newsletter .newsletter-right button{
    font-family: "Manrope", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    padding: 16px 150px;
    background: transparent;
    border-radius: 100px;
    color: white;
    border: 2px solid #F4F6FC;
    transition: all linear 0.3s;
    margin-top: 40px;
    margin-bottom: 28px;
    margin-left: 96px;
    margin-right: 96px;
}
#newsletter .newsletter-right button:hover{
    background: #FCD980;
    color: #1B1C2B;
    border: 2px solid #FCD980;
}
#newsletter .newsletter-right a{
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
    color: white;
    text-decoration: none;
    margin: 0 190px;
}
#newsletter .newsletter-right a span{
    margin-left: 16px;
}
/* NEWSLATER CSS END */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* BLOG CSS START */
#blog{
    margin-top: 128px;
    margin-bottom: 128px;
}
#blog h2{
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px; 
    color: #282938;
    margin-bottom: 64px;
}
#blog h4{
    font-family: "Poppins", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px; 
    color: #282938;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 405px;
}
#blog p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    color: #282938;
    width: 405px;
    margin-bottom: 32px;
}
#blog .date{
    margin-top: 40px;
    margin-bottom: 0;
}
#blog a{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    color: #282938;
    text-decoration: none;
    margin: 0;
}
#blog a span{
    margin-left: 16px;
}
/* BLOG CSS END */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* FOOTER CSS START */
#footer .footer-top{
    background: #1C1E53;
    padding-top: 100px;
}
#footer .footer-up h6{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    color: white;
    width: 400px;
    margin-bottom: 86px;
    margin-top: 24px;
}
#footer .footer-up .contact{
    background: #FCD980;
}
#footer .footer-up .contact h4{
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
    color: #282938;
    margin-top: 18px;
    margin-left: 37px;
}
#footer .footer-up .contact p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #282938;
    margin-top: 2px;
    margin-left: 37px;
}
#footer .footer-up .contact .mail{
    margin-right: 30px;
}
#footer .footer-up .footer-up-right h2{
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px; 
    color: #FFFFFF;
}
#footer .footer-up .footer-up-right p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #F4F6FC;
    margin-top: 14px;
    margin-bottom: 28px;
    width: 400px;
}
#footer .footer-up .footer-up-right a{
    margin-right: 27px;
    text-decoration: none;
}
#footer .footer-down{
    background: white;
}
#footer .footer-down p{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #282938;
    margin-top: 32px;
    margin-bottom: 32px;
}
#footer .footer-down p a{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #282938;
    margin-left: 5px;
    text-decoration: none;
}
#footer .footer-down .footer-down-lists ul li a{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    color: #282938;
    margin-top: 32px;
    margin-bottom: 32px;
    text-decoration: none;
    margin-right: 30px;
}
/* FOOTER CSS END */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/